.slice {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 1000px;
  }
  .container{
    
    position: relative;
    max-width:1100px;
    width: 100%;
    border-radius: 6px;
    padding: 0px;
    margin: 0 90px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #333;
}
.container header::before{
    
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: rgba(255,173,5,0.80);
}
.container form{

    position: relative;
    width: 1090px;
    margin-top: 30px ;
    margin-left: 10px;
    min-height: 600px;
    background-color: #fff;
    overflow: hidden;
    overflow: auto;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 10px;
    font-weight: bold;
    margin: 6px 0;
    color: #070505;
}


  .header {
    background-color: rgba(243, 167, 16, 0.945);
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    margin: 0;
    text-align: right;
  }

  form .slice .input-field{
    display: flex;
    width: calc(100% / 6 - 15px);
    flex-direction: column;
    margin: 4px 0;
   
}
form .slice .input-field2{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
   
}
.input-field .input-field2 label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select{
    color: #707070;
}


.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input {
  flex-grow: 1;
  margin-right: 5px;
}

.intro{
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 50px ;
  background-color:rgba(205, 148, 34, 0.8);
  color: #fff;
  text-align: right;
  position: sticky;
}
.container form .btnText{
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: rgba(255,173,5,0.80);
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

